{% load static %}
<!DOCTYPE html>
<html lang="en">
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
	<!--
    Template 2105 Input
	http://www.tooplate.com/view/2105-input
	-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/tooplate.css' %}">
</head>

<body id="register">
    <div class="container">
        <div class="row">
           <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <header class="mb-5">
                    <h3 class="mt-0 white-text">Sign-up Form</h3>
                    <p class="grey-text mb-4">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                    <p class="grey-text">Vestibulum neque neque, porttitor quis lacinia eu, iaculis id dui. Mauris quis velit lectus.
                    </p>
                    <h6 class="white-text">Already have an account.Please,<a href= "{% url 'todoapp:login' %}">Login</a></h6>
                </header>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
                <form action="" method="post" class="tm-signup-form" novalidate>
                    {% csrf_token %}
                    {{fm|crispy}}
                    {% comment %} <div class="input-field">
                    {{ fm.username }}
                    </div>
        
                    <div class="input-field">
                    {{ fm.email }}
                    </div>

                    <div class="input-field">
                    {{ fm.password1 }}
                    </div>

                    <div class="input-field">
                    {{ fm.password2 }}
                    </div> {% endcomment %}
                    
                    <div class="text-right mt-4">
                    <button type="submit" class="waves-effect btn-large btn-large-white px-4 tm-border-radius-0">Sign Up</button>
                    </div>
                    
                </form>
                
                {% comment %} <div class ="container mt-2">
                 {{fm.errors}}</p>
                </div> {% endcomment %}
            
            </div>
        </div>
        
        <footer class="row tm-mt-big mb-3">
            <div class="col-xl-12">
                <p class="text-center grey-text text-lighten-2 tm-footer-text-small">
                    Copyright &copy; 2018 Company Name - ABC
                </p>
            </div>
        </footer>
    </div>

    <script src="{% static 'assets/js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'assets/js/materialize.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>

</html>